body{
  background-color: rgb(197, 208, 232);
  font-family: 'Outfit', sans-serif;
}

.container{
  width: 250px;
  height: 350px;
  background-color: white;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.qr-code{
  width:90%;
  height: 60%;
  background: url(../img/image-qr-code.png);
  background-size: cover;
  margin:0px auto;
  border-radius: 10px;
}

h3{
  margin: 10px 3px;
  text-align: center;
}

p{
  margin: 6px 3px;
  text-align: center;
  color: grey;
  font-size: 14px;
}
